* text=auto
pre-commit text eol=lf
*.txt text eol=lf
*.vue text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text working-tree-encoding=UTF-16LE-BOM eol=crlf
*.reg binary
*.jpg binary
*.png binary
*.pdf	-text
*.xlsx filter=lfs diff=lfs merge=lfs -text
